body{
    font-family: 'Arial';
}
p{
    position: relative;
    background-color: #eee;
    width: 400px;
    padding: 20px;
    margin: 10px auto;
}
/* الحل غير مكتمل */
p::before {
    position: absolute;
    content: attr(data-person);
    width: 0px;
    height: 0px;
    left: -20px;
    top: 50%;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent darkcyan transparent transparent;
}

p::selection {
    color: white;
    background-color: black;
}
p::after{
    content: '';
    position: absolute;
    height:100%;
    left: 0;
    top: 0;
    width: 5px;
    background-color: darkcyan;
}