body{
    font-family: 'Arial';
}
div{
    width: 300px;
    margin: auto;
    background-color: #eee;
    padding: 60px 0;
    font-weight: 600;
    text-align: center;
}
div:empty{
    background-color: tomato;
    margin-top: 20px;
    margin-bottom: 20px;
}